<!--
  Generated template for the More page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{place.placename}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="dark" (click)="openmyProfile()">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


</ion-header>


<ion-content padding class="bodyt">
  <ion-card>
    <img [src]="place.image"/>
    <ion-card-content>
      <ion-card-title>
        <h2>{{place.placename}} </h2>
      </ion-card-title>
      <h3>Rating : {{ratingSum | number:'.1'}}</h3>
      <p>{{place.description}} </p>
    </ion-card-content>
  </ion-card>


  <ion-list class="transparent">
    <ion-item class="transparent">

      <button ion-button outline color="secondary" icon-right (click)="openWeather(place.district)">
        <ion-icon name="sunny"></ion-icon>
        Weather
      </button>

      <button ion-button outline item-end icon-left (click)="openDirections(place.latitiude,place.longitude)">
        <ion-icon name="compass"></ion-icon>
        Direction
      </button>

    </ion-item>
  </ion-list>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-input type="text" placeholder="Your Name" [(ngModel)]="reviewer.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Your Review" [(ngModel)]="reviewer.review"></ion-input>
      </ion-item>
      <ion-list>
        <ion-item class="home">
          Rating
          <ion-icon [name]="ratingNames[0]" color="star" (click)="ratingStarClicked(0)"></ion-icon>
          <ion-icon [name]="ratingNames[1]" color="star" (click)="ratingStarClicked(1)"></ion-icon>
          <ion-icon [name]="ratingNames[2]" color="star" (click)="ratingStarClicked(2)"></ion-icon>
          <ion-icon [name]="ratingNames[3]" color="star" (click)="ratingStarClicked(3)"></ion-icon>
          <ion-icon [name]="ratingNames[4]" color="star" (click)="ratingStarClicked(4)"></ion-icon>
        </ion-item>
      </ion-list>
      <ion-item>
        <button ion-button outline item-end color="Dark" icon-left round clear (click)="sendReview(reviewer)">
          <ion-icon name="add"></ion-icon>
          Add Review
        </button>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-card *ngFor="let review of reviews | async">
      <ion-item-sliding>
        <!--<ion-item  no-padding="">-->
        <!--<ion-card>-->
        <!--<ion-card-content>-->
        <ion-item>
          <ion-avatar item-start>
            <img src="\\assets\\img\\profile_icon.png"/>
          </ion-avatar>
          <h2>{{review.name}}</h2>
          <p>{{review.review}}</p>
          <p>{{'Ratings : ' + review.rating}}</p>
        </ion-item>
        <ion-item-options side="right" *ngIf="globalProvider.loggedInUser?.id == review.user">
          <button ion-button color="danger" (click)="deleteItem(review.id)">
            <ion-icon name="trash"> DELETE</ion-icon>
          </button>
        </ion-item-options>
        <!--</ion-card-content>-->
        <!--</ion-card>-->
        <!--</ion-item>-->
      </ion-item-sliding>
    </ion-card>
  </ion-list>

</ion-content>
