page-more {

    .bodyt {
        background-image: url("..//assets//img//compass1.png");
        background-size: cover;
    }

  .transparent{
    background-color: transparent !important;
  }

  .btn{
        
    // height: 30mm;        
    background-color: rgb(253, 241, 227);
    opacity: 0.75;

}

}
