page-places {

  .bodyt {
    background-image: url("..//assets//img//routeback.jpg");
  }
  .compass {
    background-image: url("..//assets//img//compass1.png");
  }
  p {
    color: #fcfcfc !important;
  }
  .trans{
    background-color: #ffffff55 !important;
  }
  .transparent{
    background: transparent;
  }

}
