page-my-profile {

    .bodyt {
        background-image: url("..//assets//img//traveler2.jpg");
        background-size: cover;
    }
    .bodycard {
        background-image: url("..//assets//img//background.jpg");
        background-size: cover;
    }
    .h1{
        color: rgb(8, 8, 8)

    }
    // .p{
    //     color: rgb(0, 0, 0)
    // }
    .transparent {
        background-color: #ffffff55 !important;
      }

}
