page-accomodation {
    .home {
        background: linear-gradient(skyblue);
    }
    .ho {
        background: linear-gradient(rgb(49, 223, 86));
    }
    .bodyt {
        background-image: url("..//assets//img//images (2).jpg");
    }


}
