<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Accommodation</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addHotel()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

    <!--ion-searchbar (ionInput)="getItems($event)"></ion-searchbar-->


    <ion-list>
      <ion-item *ngFor="let topic of topics">
        {{ topic }}
      </ion-item>
    </ion-list>
  </ion-navbar>

</ion-header>


<ion-content padding class="bodyt">
  <ion-searchbar (ionInput)="getTopics($event)" [showCancelButton]="shouldShowCancel"
                 (ionCancel)="onCancel($event)"></ion-searchbar>
  <!--<ion-card class="card-background-page" class="home">-->
  <!--ion-img width="300" height="350" src="\\assets\\img\\19940801071_ebf3e74e4d_b (1).jpg"></ion-img-->
  <!--<img src="/assets/img/19940801071_ebf3e74e4d_b.jpg">-->
  <!--<button ion-button color="dark" (click)="addHotel()">-->
  <!--<ion-icon name="md-add"></ion-icon>-->
  <!--Add Hotel-->
  <!--</button>-->
  <!--</ion-card>-->
  <ion-list>

    <ion-card *ngFor="let item of itemList">
      <img [src]="'assets/img/' + item.image" (click)="openhotel(item)"/>
      <ion-card-content class="font" (click)="openhotel(item)">
        {{item.name}}
        <!--p>Address : {{item.address}}</p-->
        <!--p>Contact No : {{item.contact}}</p-->
        <!--p>Rating : {{item.rating}}</p-->

      </ion-card-content>

      <button ion-button outline item-end icon-left (click)="opencall()">
        <ion-icon color="secondary" name="call"></ion-icon>
      </button>
      <button ion-button outline item-end icon-left (click)="openDirections()">
        <ion-icon name="compass"></ion-icon>
      </button>
      <button ion-button outline item-end icon-left (click)="edit(item)" *ngIf="globalProvider.loggedInUser?.id==item.user">
        <ion-icon name="create"></ion-icon>
      </button>

    </ion-card>
  </ion-list>

</ion-content>
