<!--
  Generated template for the Vehicle page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Accommodation</ion-title>

    <!--ion-searchbar (ionInput)="getItems($event)"></ion-searchbar-->
    <ion-searchbar (ionInput)="getTopics($event)" [showCancelButton]="shouldShowCancel" (ionCancel)="onCancel($event)"></ion-searchbar>
 
  <ion-list>
    <ion-item *ngFor="let topic of topics">
      {{ topic }}
    </ion-item>
  </ion-list>
  </ion-navbar>

</ion-header>


<ion-content padding class="home">
  <button ion-button (click)="addHotel()" >Add Hotel</button>
  <ion-list>
    <ion-card *ngFor="let item of items | async"  >

      <img [src]="item.image"(click)="openhotel()"/>
      <ion-card-content (click)="openhotel()">

        <p> {{item.name}}</p>
        <p>Address : {{item.address}}</p>
        <p>Contact No : {{item.contact}}</p>
        <p>Rating : {{item.rating}}</p>
        </ion-card-content>
        <button ion-button outline item-end icon-left (click)="opencall()">
          <ion-icon name="call"></ion-icon>
          Call
        </button>
        <button ion-button outline item-end icon-left (click)="openDirections()">
          <ion-icon name="compass"></ion-icon>
          Direction
        </button>
        
    </ion-card>
  </ion-list>

</ion-content>
