page-hotels {
    .home {
        background: linear-gradient(blanchedalmond);
    }
    .bg-style {
        background-color: #f5f0eb;
    }
    .bodyt {
        background-image: url("..//assets//img//images (2).jpg");
    }
   
//     .alertstar{
//         button{
//              width: 40px;
//              margin: 0 !important;
//              background-image:url('..//assets//icon//star.png');
//              background-repeat: no-repeat;
//              background-position: center;
//              color:white !important;
//         }
//         .alert-button-group{padding:0; margin-top: 10px; flex-direction: row; justify-content: space-around;}
//         border-radius: 12px;
//         .alert-wrapper{border-radius: 12px;}
//    }



}
