<!--
  Generated template for the Hotels page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header  >

  <ion-navbar >
    <ion-title>hotels</ion-title>
  </ion-navbar>


</ion-header>


<ion-content  padding  class="bodyt">
    <ion-card >
        <img [src]=hotel.image/>
        <ion-card-content >
          <ion-card-title>
              {{hotel.name}}
            </ion-card-title>
           
             
              <ion-icon name="clock">Open-Closetime {{hotel.time}}</ion-icon>
              <p>{{hotel.address}}</p>
              <p>Contact:{{hotel.contact}}</p>

              <button ion-button color="danger" clear>
                  <ion-icon name="heart"></ion-icon>
                  favourite</button>

          
              <p>
            
                  {{hotel.details}}
                    
              </p>
               
          
          
    
        </ion-card-content>
        
       
        
            
         </ion-card>
         <button ion-button color="dark" round (click)="openUrl()">Website {{hotel.Website}}</button>
          <button ion-button color="dark" round (click)="openBooking()">Booking</button>

      
        <ion-list>
            <ion-item class="home">
              Rating 
              <ion-icon name="star" [color]="getStarColor(0)" (click)="ratingStarClicked(0)"></ion-icon>
              <ion-icon name="star" [color]="getStarColor(1)" (click)="ratingStarClicked(1)"></ion-icon>
              <ion-icon name="star" [color]="getStarColor(2)" (click)="ratingStarClicked(2)"></ion-icon>
              <ion-icon name="star" [color]="getStarColor(3)" (click)="ratingStarClicked(3)"></ion-icon>
              <ion-icon name="star" [color]="getStarColor(4)" (click)="ratingStarClicked(4)"></ion-icon>
              </ion-item>
          </ion-list>

          
              <button ion-button color = "dark" round (click)="Click()"  >
                  <ion-icon name="star">Reviews</ion-icon> 
                </button>
                <ion-card class="h"  *ngIf="buttonClick">
              <ion-card-content *ngFor="let hotelreview of hotelreviews | async" class="h"  >
          
                 <ion-item  >
                        <ion-avatar item-start>
                            <img src="\\assets\\img\\images (3).jpg" />
                        </ion-avatar>
                        <h2><p> {{hotelreview.name}}</p></h2>
                        <p>{{hotelreview.email}}</p>
                       
                      </ion-item>
          
               <!-- <h2>
                  <p> {{review.name}}</p>
                </h2>
                <p>{{review.email}}</p>-->
                <p>{{hotelreview.hotelreviews}}</p>
               </ion-card-content>
            </ion-card>
            <button ion-button  color="dark" round icon-left round  (click)="sendClick()">
              <ion-icon name="add"></ion-icon>
              Add Reviews
            </button>
              

</ion-content>
