page-weatherforecast {

 
    .bodyt {
        background-image: url("..//assets//img//sky.jpg");
        background-size: cover;
    }
    .transparent{
        background-color: transparent !important;
        
      }

}

