page-weatherforecast {

 
    .bodyt {
        background-image: url("..//assets//img//sky.jpg");
        background-size: cover;
    }
    .transparent{
        background-color: #ffffff55 !important;
        
      }
      h2{
        color: #fcfcfc !important;
      }


      p {
        color: #080808 !important;
      }

}

